내장함수


*   이미만들어져있는함수/사용자가 만들지 않아도 바로 사용할수 있는 함수
*   파이썬에서 기본적으로 포함하고 있는 함수
*   내장함수 :print(), input(), type()....

In [ ]:
# abs
abs(-3.2)

3.2

In [ ]:
all([1,2,3,0])

False

In [ ]:
any([0,1,2])

True

In [ ]:
any([0, ''])

False

In [ ]:
dir([1,2,3])

In [ ]:
dir({})

In [ ]:
divmod(7.1, 3.5)

(2.0, 0.09999999999999964)

In [ ]:
# enumerate
for i, name in enumerate(['body', 'foot', 'arm']):
  print(i, name)

0 body
1 foot
2 arm

In [ ]:
eval('1+2')

3

In [ ]:
eval('divmod(7, 3)')

(2, 1)

In [ ]:
# filter
def positive(x):
  return x > 0

In [ ]:
a = list(filter(positive, [1, -3, 2, 0, -5, 6]))
a

[1, 2, 6]

In [ ]:
a = 3
print(id(a))

140644492001584

In [ ]:
a = input()

hi

In [ ]:
print(a)

hi

In [ ]:
b = int('1A', 16)
b

26

In [ ]:
list('python')

['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
f = open('hello.txt', 'w')
f.write("hello world")
f.close()

In [ ]:
f = open('hello.txt', 'r')
s = f.read()
print(s)

hello world

In [ ]:
with open('hello2.txt', 'w') as file:
  for i in range(3):
    file.write(f'Hello world {i + 1}\n')

In [ ]:
!cat hello2.txt # cat unix 명령어

Hello world 1
Hello world 2
Hello world 3

In [ ]:
# 문자열 여러줄 입력
lines = ["안녕하세요\n", "파이썬\n", "기초반입니다.\n"]
with open("hello3.txt", "w") as file:
  file.writelines(lines)

In [ ]:
!cat hello3.txt

안녕하세요
파이썬
기초반입니다.

In [ ]:
with open("hello3.txt", 'r') as file:
  s = file.readlines()
print(s)

['안녕하세요\n', '파이썬\n', '기초반입니다.\n']

In [ ]:
with open("hello3.txt", 'a') as file:
  file.write("만나서 반갑습니다.")

In [ ]:
!cat hello3.txt

안녕하세요
파이썬
기초반입니다.
만나서 반갑습니다.

In [ ]:
pow(2,4)

16

In [ ]:
range(5) #0~5

range(0, 5)

In [ ]:
print(range(0,5))

range(0, 5)

In [ ]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(3,9))

[3, 4, 5, 6, 7, 8]

In [ ]:
list(range(3,9, 2))

[3, 5, 7]

In [ ]:
round(4.655555555, 2)

4.66

In [ ]:
sorted([1,5,3])

[1, 3, 5]

In [ ]:
list(zip([1,2,3,10], [4,5,6], [20,30, 50, 60]))

[(1, 4, 20), (2, 5, 30), (3, 6, 50)]

파이썬 객체 읽고 쓰기

In [ ]:
import pickle
f = open('test.txt', 'wb')
data = {1:'python', 2:'you need'}
pickle.dump(data, f)

In [ ]:
!cat test.txt

��       }�(K�python�K�you need�u.

In [ ]:
f = open('test.txt', 'rb')
data = pickle.load(f)
print(data)

{1: 'python', 2: 'you need'}

In [ ]:
score = {'kor':90, "eng":90, "math":80}
with open('binary.pkl', 'wb') as f:
  pickle.dump(score, f)

In [ ]:
with open('binary.pkl', 'rb') as f:
  newScore = pickle.load(f)
print(newScore)

{'kor': 90, 'eng': 90, 'math': 80}

In [ ]:
# time
import time
for i in range(5):
  # time.sleep(1)
  print(i)
  time.sleep(1)

In [ ]:
print(time.time())

1698307748.8227375

In [ ]:
print(time.localtime(time.time()))

time.struct_time(tm_year=2023, tm_mon=10, tm_mday=26, tm_hour=8, tm_min=10, tm_sec=6, tm_wday=3, tm_yday=299, tm_isdst=0)

In [ ]:
import random
print(random.random())

0.1642003969717929

In [ ]:
print(random.randint(1, 30))

1

In [ ]:
print(random)

In [ ]:
data = [1,2,3,4,5]
random.shuffle(data)
print(data)

[5, 4, 1, 2, 3]

In [ ]:
import random
lotto = sorted(random.sample(range(1, 46), 6))
lotto

[8, 23, 24, 25, 27, 40]

5.4 사용자 정의 함수

In [ ]:
def hello():
  print("hello world")

In [ ]:
hello()
hello()
hello()

hello world
hello world
hello world

In [ ]:
hello2()
def hello2():
  print("hello world")

In [ ]:
def hello3():
  pass
hello3()

In [ ]:
# 덧셈함수 선언
def sum(a, b):
  result = a + b
  return result

In [ ]:
# def sum(a, b):
#   return a + b

In [ ]:
a = sum(3, 4)
print(a)

7

In [ ]:
# 지역 변수 전역변수
a = 1
def valuetest(a):
  a = a + 1
  return a

In [ ]:
print(valuetest(a))

2

In [ ]:
print(a)

1

In [ ]:
a = 1
def foo():
  print(a)

In [ ]:
foo()

1

In [ ]:
def foo2():
  b=2
  print(a)
  print(b)

In [ ]:
foo2()

1
2

In [ ]:
print(b)

In [ ]:
def foo3():
  global b
  b=2
  print(a)
  print(b)

In [ ]:
foo3()

1
2

In [ ]:
print(a)
print(b)

1
2

In [ ]:
x = 10
def foo4():
  global x
  x = 20
  print(x)

In [ ]:
foo4()

20

In [ ]:
print(x)

20

In [ ]:
# 가변인자 *arg
def print_number(a, b, c):
  print(a)
  print(b)
  print(c)

In [ ]:
print_number(10, 20, 30)

10
20
30

In [ ]:
x = [10, 20, 30]

In [ ]:
print_number(*x)

10
20
30

In [ ]:
y = (30, 40, 50)
print_number(*y)

30
40
50

In [ ]:
x = [10, 20, 30, 50]
print_number(*x)

TypeError: ignored

In [ ]:
# 여러개 숫자를 받으려면 다음과같이 괄호안에 *args와 같이 매개변수앞에 *를 붙여한다.
def sum_many(*args):
  sum = 0
  for i in args:
    sum = sum + i
  return sum

In [ ]:
sum_many(1,2,3,4,4,5,6,7,8,2)

42

In [ ]:
# 키워드 인수
def personal_info(name, age, addr):
  print("이름 :", name)
  print("나이 :", age)
  print("주소 :", addr)

In [ ]:
personal_info(23, "홍길동", '신촌')

이름 : 23
나이 : 홍길동
주소 : 신촌

In [ ]:
personal_info(age=25, addr='신촌', name='홍길동')

이름 : 홍길동
나이 : 25
주소 : 신촌

In [ ]:
print("a", "b",  end="\n", sep="/" )

a/b

In [ ]:
x = {"name":"홍길동", "age":30, "addr":"신촌"}
personal_info(**x)

이름 : 홍길동
나이 : 30
주소 : 신촌

In [ ]:
def personal_info2(**kwargs):
  for key, value in kwargs.items():
    print(f'key는 {key}이고 value는{value}다')

In [ ]:
personal_info2(**x)

key는 name이고 value는홍길동다
key는 age이고 value는30다
key는 addr이고 value는신촌다

In [ ]:
personal_info2(name='홍길동', age=23)

key는 name이고 value는홍길동다
key는 age이고 value는23다

In [ ]:
def personal_info3(name, **kwargs):
  print(name)
  print(kwargs)

In [ ]:
 personal_info3(**x)

홍길동
{'age': 30, 'addr': '신촌'}

In [ ]:
def my_print(*args, **kwargs):
  print(args, kwargs)

In [ ]:
my_print(10, 20, 30)

(10, 20, 30) {}

In [ ]:
# 숫자를 입력받아서 짝수 인지 홀수인지 구분하는 함수를
def even_odd(num):
  if num % 2 == 0:
    print("짝")
  else:
    print("홀")

In [ ]:
even_odd(4)
# 4를 입력시 "짝수" 또는 "even"
# 15를 입력시 "홀수" 또는 'odd"

짝

In [ ]:
def even_odd2(num):
  if num % 2 == 0:
    return "짝"
  return "짝"

In [ ]:
even_odd2(15)

'홀'

In [ ]:
# 정수를 입력받아서 정수보다 큰 7의 배수 를 찾는 (제일작은) 함수
# 15를 입력 21 을출력하도록
# 38

In [ ]:
def seven(num):
  for i in range(num+1, num+10):
    if i % 7 == 0:
      return i
    print("for 반복문 입력숫자 ", i)

In [ ]:
seven(15)
# 21

for 반복문 입력숫자  16
for 반복문 입력숫자  17
for 반복문 입력숫자  18
for 반복문 입력숫자  19
for 반복문 입력숫자  20

21

In [ ]:
from statistics import mean, variance
from math import sqrt

# 산술평균
dataset = [2, 4, 5, 6, 1, 8]
def Avg(data):
  avg = mean(data)
  return avg

#표준편차
def var_sd(data):
  avg = Avg(data)
  diff = [(d-avg)**2 for d in data]
  print(diff)
  var = sum(diff) / (len(data) - 1)
  print(var)
  sd = sqrt(var)
  return var, sd

v, s = var_sd(dataset)
print('분산:', v)
print('표준편차:', s)

[5.444444444444443, 0.11111111111111091, 0.44444444444444486, 2.7777777777777786, 11.111111111111109, 13.444444444444446]
6.666666666666666
분산: 6.666666666666666
표준편차: 2.581988897471611

In [ ]:
diff = [(d-avg)**2 for d in data]

diff = []
for d in data:
   a = (d - 2)**2
   diff.append(a)

5.5.2 람다 표현식

In [1]:
def add(a, b):
  return a + b

In [ ]:
n = add(3, 4)
print(n)

In [ ]:
(lambda a, b : a+b)(3,4)

In [3]:
def plus_ten(x):
  return x + 10

In [5]:
n1 = plus_ten(3)
print(n1)

13

In [6]:
(lambda x : x +10)(3)

13

In [ ]:
a, b = map(int, [1.1, 2.2])

In [8]:
map(int, input().split())

1 2 3

In [9]:
list(map(int, input().split()))

1 2 3

[1, 2, 3]

In [12]:
list(map(lambda x : int(x) +10, input().split()))

1 2 3

[11, 12, 13]

In [14]:
def plus_ten(x):
  return int(x) + 10

In [15]:
list(map(plus_ten, input().split()))

1 2 3

[11, 12, 13]

제약사항

In [16]:
# 함수로는 함수안에 지역변수 설정이 가능함
def xplusy(x):
  y = 10
  return x + y

In [ ]:
a = xplusy(3)
print(a)

In [17]:
y = 10
a1 = (lambda x : x + y)(3)
print(a1)

13

In [ ]:
# a 리스트에서 3의 배수를 문자로 표시하기
a = list(range(1, 11))
print(a)

In [29]:
def num3(x):
  if x % 3 == 0:
     return str(x)
  else:
     return x

In [31]:
b = list(map(num3, a))
print(b)

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [32]:
# 람다로 바꾸기
list(map(lambda x : str(x) if x % 3 == 0 else x, a))
# list(map(int, [1.1, 2.2]))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [33]:
# 3의배수를 '박수'로 바꾸기
list(map(lambda x : str('박수') if x % 3 == 0 else x, a))

[1, 2, '박수', 4, 5, '박수', 7, 8, '박수', 10]

In [ ]:
list(map(lambda x : str(x) if x %3 ==0 else float(x) if x % 5 ==0 else x, a))

In [34]:
def num3float(x):
  if x % 3 == 0:
     return str('박수')
  else:
    if x % 5 == 0:
      return float(x)
    else:
      return x

In [35]:
b = list(map(num3float, a))
print(b)

[1, 2, '박수', 4, 5.0, '박수', 7, 8, '박수', 10.0]

퀴즈

In [38]:
# 1. 세개의 숫자를 입력받아서 가장 큰 숫자를 출력하는
# print_max함수를 만들어 보세요
def print_max(a, b, c):
  max_value = 0
  if a > max_value:
    max_value = a
  if b > max_value:
    max_value = b
  if c > max_value:
    max_value = c
  print(max_value)

In [39]:
print_max(3, 5, 1)

5

In [40]:
# 2. 성적 리스트를 입력받아서 평균을 출력하는 print_score함수를 만드세요
# [10, 20, 30]
def print_score(x):
  print(sum(x)/len(x))
print_score([10,20, 30])
# --> 20

20.0

In [ ]:
# 3. 입력 문자열을 한줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하세요
def print_5xn(x):
  check_num = int(len(x) / 5)
  몇글자인지 세는 코드 5로 나눠서 하나의 숫자를 만들어주시고
  for문을 사용해서 5글자씩 출력코드
print_5xn("아이엠어보이유알어걸")
# --> 아이엠어보
# --> 이유알어걸

In [36]:
#4. 아래 코드의 실행결과를 예측하시오 코드를 실행하지 말고 예측해보세요
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

28