6.1.1 클래스

In [ ]:
class 세면도구:
  치약 = 0
  샴푸 = 0
  비누 = 0

In [ ]:
세01호 = 세면도구() # '인스턴스화 시켰다' 라고 표현
세01호.치약 = 1
세01호.샴푸 = 2
세01호.비누 = 3

In [ ]:
세03호 = 세면도구() # '인스턴스화 시켰다' 라고 표현
세03호.치약 = 4
세03호.샴푸 = 2
세03호.비누 = 2

In [ ]:
print('세면도구세트 01호 내용물')
print("치약 : ", 세01호.치약, "샴푸 : ", 세01호.샴푸, "비누 : ", 세01호.비누 )

세면도구세트 01호 내용물
치약 :  1 샴푸 :  2 비누 :  3

In [ ]:
print('세면도구세트 03호 내용물')
print("치약 : ", 세03호.치약, "샴푸 : ", 세03호.샴푸, "비누 : ", 세03호.비누 )

메소드 사용방법

In [ ]:
class 참치선물세트():
  일반 = 0
  야채 = 0
  고추 = 0
  def 총합(self, 이름):
    합 = self.일반 + self.야채 + self.고추
    return 이름 +  str(합)

In [ ]:
참01호 = 참치선물세트()
참01호.일반 = 12
참01호.야채 = 3
참01호.고추 = 3

In [ ]:
출력값 = 참01호.총합("참치선물세트 01호 내용물 : ")
print(출력값)

참치선물세트 01호 내용물 : 18

In [ ]:
class 참치선물세트():
  일반 = 0
  야채 = 0
  고추 = 0
  def 출력(self, 이름):
    print("--", 이름, "--")
    print("일반참치 : ", self.일반)
    print("야채참치 : ", self.야채)
    print("고추참치 : ", self.고추)
  def 출력2(self):
    self.출력("참치선물세트")

In [ ]:
참01호 = 참치선물세트()
참01호.일반 = 12
참01호.야채 = 3
참01호.고추 = 3

In [ ]:
참01호.출력2()

-- 참치선물세트 --
일반참치 :  12
야채참치 :  3
고추참치 :  3

In [ ]:
# 13페이지 세면도구 클래스를 만드시고 출력하는 '내용물출력' 메소드를 추가하시고
# 인스턴스 2개를 만드세요
# 치약,샴푸,비누 순으로 세01호(1,2,3), 세03호(4,2,2)
# 출력명령문 : 세01호.내용물출력('세면도구세트 01호 내용물')
# 결과값
#치약 : 1
#샴푸 : 2
#비누 : 3
# 결과값
#치약 : 4
#샴푸 : 2
#비누 : 2

6.2.3 생성자(constructor)

In [ ]:
class 세면도구():
  def __init__(self, 치약, 샴푸, 비누):
    self.치약 = 치약
    self.샴푸 = 샴푸
    self.비누 = 비누
    print("생성자는 인스턴스화 하면 바로 실행됨")

  def 내용물출력(self, 세트이름):
    print(세트이름)
    print("치약 : ", self.치약)
    print("샴푸 : ", self.샴푸)
    print("비누 : ", self.비누)

In [ ]:
세01호 = 세면도구(1,2,3)
세03호 = 세면도구(4,2,2)

생성자는 인스턴스화 하면 바로 실행됨
생성자는 인스턴스화 하면 바로 실행됨

In [ ]:
세01호.내용물출력("세면도구세트01호내용물")
세03호.내용물출력("세면도구세트03호내용물")

세면도구세트01호내용물
치약 :  1
샴푸 :  2
비누 :  3
세면도구세트03호내용물
치약 :  4
샴푸 :  2
비누 :  2

# 클래스는 왜필요할까?

In [ ]:
# 사칙연산중 더하기 클래스
class FourCal:
  def __init__(self, first, second):
    self.first = first
    self.second = second
  def add(self):
    result = self.first + self.second
    return result

In [ ]:
a = FourCal(4,3)
print(a.add())

7

In [ ]:
# 자동차 클래스와 객체
# 3가지 속성과 3가지 기능이 있는 자동차 객체를 찍어내기 위한 틀을 만든다
# 속성 : brand, model, color
# 기능 : 시동을킨다(turn_on), 시동을끈다(trun_off),주행(drive)

In [ ]:
class Car:
  def __init__(self, b, model, color):
    self.brand = b
    self.model = model
    self.color = color
    print(self.brand, self.model, self.color, "출고")

  def turn_on(self):
    print(self.brand,  "시동킨다.")
  def turn_off(self):
    print(self.brand,  "시동을끈다.")
  def drive(self):
    print(self.brand,  "주행한다.")

In [ ]:
# 객체 생성하기
car1 = Car("현대자동차", "소나타", "화이트")
car2 = Car("르노삼성", "sm7", "블랙")

현대자동차 소나타 화이트 출고
르노삼성 sm7 블랙 출고

In [ ]:
#메소들 호출하기
# 객체.메소드(매개변수1, 매개변수2...)
car1.turn_on()

현대자동차 시동킨다.

In [ ]:
car1.turn_off()

현대자동차 시동을끈다.

In [ ]:
car1.drive()

현대자동차 주행한다.

In [ ]:
car2.turn_on()
car2.drive()
car2.turn_off()

르노삼성 시동킨다.
르노삼성 주행한다.
르노삼성 시동을끈다.

In [ ]:
# 사람 클래스 속성 이름, 키, 직업, 나이
# 출력기능(메소드)
class Person:
  def __init__(self, name, height, job, age):
    self.name = name
    self.height = height
    self.job = job
    self.age = age
  def get_info(self):
    return f'이름 : {self.name} , 키 : {self.height}, 직업 : {self.job}, 나이:{self.age}'

In [ ]:
james = Person("James", 175, "programer", 27)
maria = Person("Maria", 160, "doctor", 25)

In [ ]:
maria.get_info()

'이름 : Maria , 키 : 160, 직업 : doctor, 나이:25'

In [ ]:
print(maria)

<__main__.Person object at 0x78501df53b80>

In [ ]:
# 사람 클래스 속성 이름, 키, 직업, 나이
# 출력기능(메소드)
class Person2:
  def __init__(self, name, height, job, age):
    self.name = name
    self.height = height
    self.job = job
    self.age = age
  def get_info(self):
    return f'이름 : {self.name} , 키: {self.height}, 직업 : {self.job}, 나이:{self.age}'
  def __str__(self):
    return f'이름 : {self.name} , 키: {self.height}, 직업 : {self.job}, 나이:{self.age}'

In [ ]:
james2 = Person2("James", 175, "programer", 27)
print(james2)

이름 : James , 키: 175, 직업 : programer, 나이:27

문제 : class Tmoney

* 속성: age, balance(잔액)
* pay() method
   *  age<7: 무료, 7<=age<=12: 650,
   *  13<=age<=18: 1050, 19<=age: 1350
   * oo살의 요금은 ooo원이고, 잔액은 ooo원입니다.
   *  잔액이 부족하면 '잔액이 부족합니다.ㅠㅠ' 출력
* charge(amount) method
   * amount 만큼의 금액을 balance에 추가

In [ ]:
class Tmoney:
  def __init__(self, age, balance):
    self.age = age
    self.balance = balance
  def pay(self):
    if self.age < 7:
      fare = 0
    elif 7 <= self.age <=12:
      fare = 650
    elif 13 <= self.age <= 18:
      fare = 1050
    else:
      fare = 1400

    if fare <= self.balance:
      self.balance -= fare
      print(f'{self.age} 살의 요금은 {fare: ,d}원이고 잔액은{self.balance: ,d}입니다.')
    else:
      print("잔액이 부족합니다. ㅠㅠ")
  def charge(self, amount):
    self.balance += amount
    print(f'{amount:,d}원을 충전하여 잔액은 {self.balance: ,d}입니다.')

In [ ]:
card = Tmoney(30, 10000)

In [ ]:
card.pay()

30 살의 요금은  1,400원이고 잔액은 8,600입니다.

In [ ]:
for _ in range(10):
  card.pay()

In [ ]:
card.charge(10000)

10,000원을 충전하여 잔액은  10,200입니다.

6.3.2 상속

In [ ]:
class 참치선물세트():
  def __init__(self, 일반, 야채, 고추):
    self.일반 = 일반
    self.야채 = 야채
    self.고추 = 고추
  def 출력(self, 이름):
    print("**", 이름, "**")
    print("일반참치", self.일반)
    print("야채참치", self.야채)
    print("고추참치", self.고추)

In [ ]:
class 특별세트(참치선물세트):
  def __init__(self, 일반, 햄, 카놀라유):
    super().__init__(일반, 0, 0)
    self.햄 = 햄
    self.카놀라유 = 카놀라유
  def 출력(self, 이름):
    super().출력(이름)
    print("햄 : ", self.햄)
    print("카놀라유 : ", self.카놀라유)

In [ ]:
특01호 = 특별세트(6, 3, 2)

In [ ]:
특01호.출력1("특별세트01호")

** 특별세트01호 **
일반참치 6
야채참치 0
고추참치 0
햄 :  3
카놀라유 :  2

In [ ]:
class Person:
  def __init__(self, name):
    self.name = name
  def greeting(self):
    print("안녕하세요")

In [ ]:
class Student(Person):
  def study(self):
    print("공부합시다.")

In [ ]:
maria = Student("Maria")

In [ ]:
print(maria.name)
maria.greeting()
maria.study()

Maria
안녕하세요
공부합시다.

In [ ]:
class Student(Person):
  def greeting(self):
    print("안녕")
  def study(self):
    print("공부합시다.")

In [ ]:
tommy = Student("Tommy")
tommy.greeting()
tommy.study()

안녕
공부합시다.

In [ ]:
class Student1(Person):
  def __init__(self, name, school):
    super().__init__(name)
    self.school = school
  def greeting(self):
    print("안녕")
  def study(self):
    print("공부합시다.")

In [ ]:
anne = Student1("anne", "tjAcademy")

In [ ]:
anne.school

'tjAcademy'

In [ ]:
anne.name

'anne'

In [ ]:
# 어떤 객체의 속성/메소드 조회
dir(anne)

In [ ]:
dir(list())

6.3.1 캡슐화(encapsulation)

In [ ]:
# 속성값, 메소드 이름에 _를 붙이면 비공개 속성이됨
# 간결하게 정리 refactoring
class Tmoney:
  def __init__(self, age, balance):
    self.age = age
    self.__balance = balance
    self.fare = 1400 if self.age >= 19 else \
                  1050 if self.age >= 13 else \
                    650 if self.age >= 7 else 0
  def pay(self):
    if fare <= self.balance:
      self.balance -= fare
      print(f'{self.age} 살의 요금은 {fare: ,d}원이고 잔액은{self.balance: ,d}입니다.')
    else:
      print("잔액이 부족합니다. ㅠㅠ")
  def charge(self, amount):
    self.balance += amount
    print(f'{amount:,d}원을 충전하여 잔액은 {self.balance: ,d}입니다.')

  def get_balance(self):
    return self.__balance

In [ ]:
card = Tmoney(30, 10000)
card.age

30

In [ ]:
card.balance

In [ ]:
card.get_balance()

10000

In [ ]:
# 비공개 메소드
class Worker:
  def __greeting(self):
    print("__greeting(): Hello every one!")

In [ ]:
worker = Worker()

In [ ]:
worker.__greeting()

In [ ]:
class Worker:
  def __greeting(self):
    print("__greeting(): Hello every one!")
  def hello(self):
    self.__greeting()

In [ ]:
worker2 = Worker()
worker2.hello()

__greeting(): Hello every one!

In [ ]:
class Account:
  def __init__(self, bal, name, no):
    self.__balance = bal
    self.__accName = name
    self.__accNo = no

  # 계좌정보 확인
  def getBalance(self):
    return self.__balance, self.__accNo, self.__accName

  def deposit(self, money):
    if money < 0:
      print("금액을 확인하기")
      return
    self.__balance  += money

  def withdraw(self, money):
    if self.__balance < money:
      print('잔액부족')
      return
    self.__balance -= money

In [ ]:
acc = Account(10000, '홍길동', "125-152-4125-41")
# acc.__balance

In [ ]:
bal = acc.getBalance()
print("잔액정보", bal)

잔액정보 (10000, '125-152-4125-41', '홍길동')

In [ ]:
acc.deposit(10000)

In [ ]:
bal = acc.getBalance()
print("잔액정보", bal)

잔액정보 (20000, '125-152-4125-41', '홍길동')

# 문제

* 다음은 Calculator 클래스이다.

```
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val
```
---
*  위 클래스를 상속하는 UpgradeCalculator를 만들고 값을 뺄 수 있는 minus 메서드를 추가해 보자.
* 즉 다음과 같이 동작하는 클래스를 만들어야 한다.

```
cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)
print(cal.value) # 10에서 7을 뺀 3을 출력
```

In [ ]:
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val

In [ ]:
class UpgradeCalculator(Calculator):
  def minus(self, val):
    self.value -= val

In [ ]:
cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)
print(cal.value) # 10에서 7을 뺀 3을 출력

3

## Q2.
* 객체변수 value가 100 이상의 값은 가질 수 없도록 제한하는 MaxLimitCalculator 클래스를 만들어 보자.
* 즉 다음과 같이 동작해야 한다.
```
cal = MaxLimitCalculator()
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기
print(cal.value) # 100 출력
```
* 단 반드시 다음과 같은 Calculator 클래스를 상속해서 만들어야 한다.
```
class Calculator:
    def __init__(self):
        self.value = 0
    def add(self, val):
        self.value += val
```

In [ ]:
class Calculator:
  def __init__(self):
      self.value = 0
  def add(self, val):
      self.value += val

In [ ]:
class MaxLimitCalculator(Calculator):
  def add(self, val):
    self.value += val
    if self.value > 100:
      self.value = 100
    return self.value

In [ ]:
cal = MaxLimitCalculator()
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기
print(cal.value) # 100 출력

100

Q3. 비어있는 사람(Human)클래스를 정의해보세요

In [ ]:
class Human:
  pass

Q4. Human 클래스에 "응애응애"를 출력하는 생성자를 추가 하세요

In [ ]:
class Human:
  def __init__(self):
    print("응애응애")

In [ ]:
maria = Human()

응애응애

Q5. Stock 클래스의 객체가 생성될때 종목명과 종목 코드를 입력받을수 있도록 클래스를 정의 하세요

In [ ]:
class Stock:
  pass

In [ ]:
class Stock:
  def __init__(self, name, code):
    self.name = name
    self.code = code

In [ ]:
a = Stock("삼성전자", "005930")
print(a.name)
print(a.code)

삼성전자
005930

Q6. 객체에 종목명을 입력할 수 있는 set_name 메서드를 추가해보세요

In [ ]:
class Stock:
  def __init__(self, name, code):
    self.name = name
    self.code = code
  def set_name(self, name):
    self.name = name

In [ ]:
a = Stock("삼성전자", '005930')
a.name

'삼성전자'

In [ ]:
a.set_name("엘지전자")
a.name

'엘지전자'

Q7, 객체에 종목코드를 입력할 수 있는 set_code 메서드를 추가해보세요

In [ ]:
class Stock:
  def __init__(self, name, code):
    self.name = name
    self.code = code
  def set_name(self, name):
    self.name = name
  def set_code(self, code):
    self.code = code

In [ ]:
a = Stock("삼성전자", '005930')
a.set_code("000000")
a.code

'000000'

Q8
<pre>
표준 입력으로 게임 캐릭터 능력치(체력, 마나, AP)가 입력됩니다. (ability_power)
다음 소스 코드에서 애니(Annie) 클래스를 작성하여 티버(tibbers) 스킬의 피해량이 출력되게 만드세요.
티버의 피해량은 AP * 0.65 + 400이며 AP(Ability Power, 주문력)는 마법 능력치를 뜻합니다.
</pre>

In [ ]:
class Annie:
  def __init__(self, health, mana, ability_power):
    self.health = health
    self.mana = mana
    self.ability_power = ability_power
  def tibbers(self):
    print("티버 : 피해량 ", 0.65 *  self.ability_power + 400)

In [ ]:
health, mana, ability_power = map(float, input().split())
x = Annie(health=health, mana=mana, ability_power=ability_power)
x.tibbers()
# 1803.68 1184.0 645
# --> '티버 : 피해량 819.25'

1803.68 1184.0 645
티버 : 피해량  819.25

In [1]:
import account

In [6]:
acc1 = account.Account(50000, "홍길동", "231101")
print(acc1)

계좌번호 : 231101,소유주  : 홍길동,잔액  :     50,000

실습

In [ ]:
# 1 Car class를 만듦 (속성 : 이름, cc, year)
# check 메소드를 만드는데 cc가 1000 미만이면 소형, 1000이상 2000이하면
# 중형 2000초과면 대형
# 객체를 만들때  car_count가 하나씩 증가하도록 만드시오
#객체 car1은 소나타, 2500, 2019 --> 대형 이고 자동으로 1대,
#객체 car2은 아반떼, 1500, 2018 --> 중형 이고 자동으로 2대로 나오도록 만드시오
#Car.Car_count --> 2

In [8]:
class Car:
  car_count = 0
  def __init__(self, name, cc, year):
    self.name = name
    self.cc = cc
    self.year = year
    Car.car_count += 1
  def check(self):
    if self.cc < 1000:
      print("소형")
    elif 1000 <= self.cc <= 2000:
      print("중형")
    elif 2000 < self.cc :
      print("대형")

In [9]:
car1 = Car('소나타', 2500, 2019)

In [10]:
car2 = Car('아반떼', 1500, 2018)

In [12]:
car3 = Car('아반떼1', 1800, 201123)

In [13]:
Car.car_count

3

In [ ]:
# car1의 이름을 확인할수 있는 getName 메소드 하나와
# 이름을 변경할 수 있는 setName이라는 메소드를 추가 해서 이름을 확인후 바꿔보세요
# car1 의 소나타를 getname으로 확인 후 모닝으로 변경하는 클래스를 작성하세요

In [15]:
class Car:
  car_count = 0
  def __init__(self, name, cc, year):
    self.name = name
    self.cc = cc
    self.year = year
    Car.car_count += 1
  def check(self):
    if self.cc < 1000:
      print("소형")
    elif 1000 <= self.cc <= 2000:
      print("중형")
    elif 2000 < self.cc :
      print("대형")
  def getName(self):
    return self.name
  def setName(self, name):
    self.name = name

In [17]:
car1 = Car("소나타", 2500, 2019)

In [18]:
Car.car_count

1

In [21]:
print(car1.getName())

소나타

In [ ]:
car1.setName("모닝")

In [23]:
print(car1.getName())

모닝

In [27]:
# 1. Charater 클래스 만들어주세요
# Charater 클래스는 Health속성을 추가 해주세요 (생성시 200)
# Charater 클래스 Move()메소드를 추가하고 메소드 사용시 Health가 -10됩니다.
# Charater 클래스 Rest()메소드를 추가하고 메소드 사용시 Health가 +10됩니다.
# 현재 Health을 알수 있는 checkHealth()메소드를 추가해주세요
class Charater:
  def __init__(self):
    self.health = 200
  def Move(self):
    self.health -= 10
  def Rest(self):
    self.health += 10
  def checkHealth(self):
    print("현재 케릭터의 체력은 ", self.health)

In [28]:
# 2.Knight, Healer 클래스를 만들어주세요
# Knight와 Healer는 Charater 클래스를 상속함
# Knight는 Move() Health가 -5가 더 소모됨
# Knight는 Attack()를 추가하고 공격합니다를 출력하는 메소드를 작성하세요
# Healer는 Mana속성을 추가 해주세요(생성시 100)
# Healer는 heal(charater)메소드를 추가하고 메서드는 charater들을 매개변수로 받습니다.
# Healer는 heal(charater)메소 실행하면 Mana가 -10이되고 전달받은 character의 객체의
# rest()메소드를 실행합니다.
# Healer는 현재 마나 속성을 확인할 수 있는 checkmana()메소드를 추가해주세요
class Knight(Charater):
  def __init__(self):
    super().__init__()
  def Move(self):
    super().Move()
    self.health -= 5
  def Attack(self):
    print("공격합니다. ")

class Healer(Charater):
  def __init__(self):
    super().__init__()
    self.mana = 100
  def Heal(self, character):
    character.Rest()
    self.mana -= 10
  def checkmana(self):
    print("현재 케릭터의 마나는", self.mana)

In [29]:
knight = Knight()

In [30]:
healer = Healer()

In [31]:
knight.checkHealth()

현재 케릭터의 체력은  200

In [32]:
knight.Attack()

공격합니다.

In [33]:
knight.Move()

In [34]:
knight.checkHealth()

현재 케릭터의 체력은  185

In [35]:
healer.checkHealth()

현재 케릭터의 체력은  200

In [36]:
healer.Heal(knight)

In [38]:
healer.checkmana()

현재 케릭터의 마나는 90

In [39]:
healer.Heal(knight)

In [40]:
healer.checkmana()

현재 케릭터의 마나는 80

In [41]:
knight.checkHealth()

현재 케릭터의 체력은  205