In [8]:
import pandas as pd
#파일경로를 찾고, 변수 file_path에 저장
file_path = './test_data/read_csv_sample.csv' # 상대경로
file_path1 = 'c:/workspace/test_data/read_csv_sample.csv' # 절대경로
# C:\workspace\test_data

In [9]:
df = pd.read_csv(file_path1)
print(df)

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

In [14]:
df2 = pd.read_csv(file_path, header=None)
print(df2)

    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9

In [16]:
df3 = pd.read_csv(file_path, index_col='c0')
print(df3)

    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9

In [20]:
# 주피터에서는 엑셀파일을 불러오려면 openpyxl패키지가 필요함 / 코랩은 필요없음
# !pip install openpyxl
df4 = pd.read_excel('./test_data/남북한발전전력량.xlsx', engine="openpyxl")
print(df4)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]

In [21]:
df5 = pd.read_excel('./test_data/남북한발전전력량.xlsx', engine="openpyxl", header=None)
print(df5)

          0       1     2     3     4     5     6     7     8     9   ...  \
0  전력량 (억㎾h)  발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...
1         남한      합계  1077  1186  1310  1444  1650  1847  2055  2244  ...
2        NaN      수력    64    51    49    60    41    55    52    54  ...
3        NaN      화력   484   573   696   803  1022  1122  1264  1420  ...
4        NaN     원자력   529   563   565   581   587   670   739   771  ...
5        NaN     신재생     -     -     -     -     -     -     -     -  ...
6         북한      합계   277   263   247   221   231   230   213   193  ...
7        NaN      수력   156   150   142   133   138   142   125   107  ...
8        NaN      화력   121   113   105    88    93    88    88    86  ...
9        NaN     원자력     -     -     -     -     -     -     -     -  ...

     19    20    21    22    23    24    25    26    27    28
0  2007  2008  2009  2010  2011  2012  2013  2014  2015  2016
1  4031  4224  4336  4747  4969  5096  5171  5220  5281  5404
2    50    56    56    65    78    77    84    78    58    66
3  2551  2658  2802  3196  3343  3430  3581  3427  3402  3523
4  1429  1510  1478  1486  1547  1503  1388  1564  1648  1620
5     -     -     -     -     -    86   118   151   173   195
6   236   255   235   237   211   215   221   216   190   239
7   133   141   125   134   132   135   139   130   100   128
8   103   114   110   103    79    80    82    86    90   111
9     -     -     -     -     -     -     -     -     -     -

[10 rows x 29 columns]

In [22]:
df6 = pd.read_json("./test_data/df_sample.json")
print(df6)

      algol basic c++
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

In [23]:
print(df6.index)

Index(['Jerry', 'Riah', 'Paul'], dtype='object')

In [26]:
# HTML 파일 경로 or 웹페이지 주소 url 변수 저장
# html 파일을 불러오려면 lxml 패키지 설치 필요함
# !pip install lxml
url = './test_data/sample.html'
tables = pd.read_html(url)
print(len(tables))
print(tables)

2
[   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9,          name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True]

In [30]:
for i in range(len(tables)):
    print(f"table{i}")
    print(tables[i])
    print('\n')

table0
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9


table1
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True

In [31]:
df7 = tables[1]
print(df7)

         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True

In [33]:
df7.set_index(['name'], inplace=True)
df7

            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True

데이터 저장

In [34]:
data = {'name' : ['Jerry', 'Riah', 'Paul'],
        'algol' : ["A", "A+", "B"],
        'basic' : ["C", "B", "B+"],
        'C++' : ["B+", "C", "C+"]
       }

In [35]:
df8 = pd.DataFrame(data)
print(df8)

    name algol basic C++
0  Jerry     A     C  B+
1   Riah    A+     B   C
2   Paul     B    B+  C+

In [36]:
df8.set_index('name', inplace=True)
print(df8)

      algol basic C++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

In [45]:
df8.to_csv("./test_data/df_sample1234.csv", mode="x") # 주의!기존에 같은 이름의 파일이 있으면 덮어쓰기 됨

In [48]:
df8.to_json("./test_data/df_sample1234.json", mode="w")

In [50]:
df8.to_excel("./test_data/df_sample1234.xlsx")

In [53]:
data1 = {'name' : ['Jerry', 'Riah', 'Paul'],
        'algol' : ["A", "A+", "B"],
        'basic' : ["C", "B", "B+"],
        'C++' : ["B+", "C", "C+"]
       }
df9 = pd.DataFrame(data1)
df10 = df[:]

In [54]:
df9.set_index('name', inplace=True)
df10.set_index('c0',inplace=True)

In [52]:
# df9를 sheet1에 저장 하고 df10을 sheet2에 저장  파일이름은 "df_exelwriter.xlsx"

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

In [ ]:
df9 = d