# 지니 Top200 차트를 selenium과 beautifulsoup을 활용해서 크롤링해보기

### Beautiful을 활용

In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [4]:
url = 'https://www.genie.co.kr/chart/top200'
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/117.0.0.0 Safari/537.36'}
res = requests.get(url, headers=header)
soup = BeautifulSoup(res.text, 'html.parser')
# https://www.genie.co.kr/chart/top200?ditc=D&ymd=20231212&hh=16&rtm=Y&pg=2

In [5]:
soup.select_one('#inc_date')

In [6]:
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [8]:
driver = webdriver.Chrome()
driver.get(url)
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [9]:
date = soup.select_one('#inc_date')

In [11]:
time = soup.select_one('#inc_time')
time

In [12]:
driver.close()

In [13]:
trs = soup.select('tr.list')

In [14]:
tr = trs[0]

In [ ]:
tr

In [18]:
rank = tr.select_one('.number').get_text().split('\n')[0].strip()
rank

'1'

In [21]:
title = tr.select_one('.title.ellipsis').get_text().strip()
title

'To. X'

In [24]:
artist = tr.select_one('.artist.ellipsis').get_text().strip()
artist

'태연 (TAEYEON)'

In [25]:
album = tr.select_one('.albumtitle.ellipsis').get_text().strip()
album

'To. X - The 5th Mini Album'

In [26]:
data = []
for tr in trs:
    rank = tr.select_one('.number').get_text().split('\n')[0].strip()
    title = tr.select_one('.title.ellipsis').get_text().strip()
    artist = tr.select_one('.artist.ellipsis').get_text().strip()
    album = tr.select_one('.albumtitle.ellipsis').get_text().strip()
    data.append({'rank': rank, 'title':title, 'artist' : artist, 'album':album})

In [28]:
len(data)

50

In [33]:
from tqdm import tqdm
data = []
for page in tqdm(range(1, 5)):
    url = f'https://www.genie.co.kr/chart/top200?ditc=D&ymd=20231212&hh=16&rtm=Y&pg={page}'
    res = requests.get(url, headers=header)
    soup = BeautifulSoup(res.text, 'html.parser')
    trs = soup.select('tr.list')
    for tr in trs:
        rank = tr.select_one('.number').get_text().split('\n')[0].strip()
        title = tr.select_one('.title.ellipsis').get_text().strip()
        artist = tr.select_one('.artist.ellipsis').get_text().strip()
        album = tr.select_one('.albumtitle.ellipsis').get_text().strip()
        data.append({'rank': rank, 'title':title, 'artist' : artist, 'album':album})

100%|██████████| 4/4 [00:01<00:00,  3.57it/s]

In [35]:
df = pd.DataFrame(data)
df.head()

  rank          title              artist                       album
0    1          To. X        태연 (TAEYEON)  To. X - The 5th Mini Album
1    2          Drama               aespa  Drama - The 4th Mini Album
2    3  Perfect Night  LE SSERAFIM (르세라핌)               Perfect Night
3    4       Love Lee           AKMU (악뮤)                    Love Lee
4    5       헤어지자 말해요                 박재정                    1집 Alone