# 유투브랭킹

In [2]:
import requests, time
import pandas as pd 
from bs4 import BeautifulSoup
from selenium import webdriver

In [3]:
url = 'https://youtube-rank.com/board/bbs/board.php?bo_table=youtube&page=1'
res = requests.get(url)
soup = BeautifulSoup(res.text, 'html.parser')

In [4]:
trs = soup.select('tr.aos-init')
len(trs)

0

In [5]:
driver = webdriver.Chrome()
driver.get(url)

In [6]:
soup1 = BeautifulSoup(driver.page_source, 'html.parser')
trs = soup1.select('tr.aos-init')
len(trs)

100

In [7]:
tr = trs[0]
rank = tr.select_one('.rank').get_text().strip()
rank

'1'

In [10]:
category = tr.select_one('.category').get_text().strip()[1:-1]
category

'음악/댄스/가수'

In [11]:
channel = tr.select_one('.subject > h1 > a').get_text().strip()
channel

'BLACKPINK'

In [12]:
subscriber = tr.select_one('.subscriber_cnt').get_text().strip()
subscriber

'9230만'

In [13]:
view = tr.select_one('.view_cnt').get_text().strip()
view

'342억5046만'

In [16]:
video = tr.select_one('.video_cnt').get_text().strip()
video

'590개'

In [14]:
# 숫자로 바꿔주는 함수
def convert(s):
    s = s.replace('억', '').replace('개', '').replace(',', '').replace('만', '0000')
    return int(s)

In [15]:
convert('342억5046만')

34250460000

In [22]:
data = []
for tr in trs:
   rank = int(tr.select_one('.rank').get_text().strip())
   category = tr.select_one('.category').get_text().strip()[1:-1]
   channel = tr.select_one('.subject > h1 > a').get_text().strip()
   subscriber = convert(tr.select_one('.subscriber_cnt').get_text().strip())
   view = convert(tr.select_one('.view_cnt').get_text().strip())
   video = convert(tr.select_one('.video_cnt').get_text().strip())
   data.append({'순위' : rank, '채널명' :channel,  '카테고리' :category,
                 '구독자수': subscriber,  '조회수' :view, '비디오수' : video})

In [ ]:
data

In [25]:
from tqdm import tqdm

In [27]:
driver = webdriver.Chrome()

In [28]:
data1 = []
for page in tqdm(range(1, 11)):
    url = f'https://youtube-rank.com/board/bbs/board.php?bo_table=youtube&page={page}'
    driver.get(url)
    time.sleep(2)
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    trs = soup.select('tr.aos-init')
    for tr in trs:
        rank = int(tr.select_one('.rank').get_text().strip())
        category = tr.select_one('.category').get_text().strip()[1:-1]
        channel = tr.select_one('.subject > h1 > a').get_text().strip()
        subscriber = convert(tr.select_one('.subscriber_cnt').get_text().strip())
        view = convert(tr.select_one('.view_cnt').get_text().strip())
        video = convert(tr.select_one('.video_cnt').get_text().strip())
        data1.append({'순위' : rank, '채널명' :channel,  '카테고리' :category,
                        '구독자수': subscriber,  '조회수' :view, '비디오수' : video})

100%|██████████| 10/10 [00:32<00:00,  3.24s/it]

In [29]:
df = pd.DataFrame(data1)
df.head()

   순위           채널명      카테고리      구독자수          조회수  비디오수
0   1     BLACKPINK  음악/댄스/가수  92300000  34250460000   590
1   2     BANGTANTV  음악/댄스/가수  77000000  21795720000  2406
2   3   HYBE LABELS  음악/댄스/가수  73500000  31445600000  1565
3   4  DaFuq!?Boom!       미분류  36300000  14060720000   266
4   5        SMTOWN  음악/댄스/가수  32200000  28428810000  4276

In [30]:
df.tail()

       순위            채널명       카테고리    구독자수        조회수  비디오수
995   997  임한올 Hanol Rim        미분류  800000  122420000   169
996   996          원지의하루   국내/해외/여행  800000  154490000   357
997   995        가로세로연구소   뉴스/정치/사회  800000   35320000   553
998  1000           DAWN        미분류  800000   75700000    68
999   999        키미 Kimi  음식/요리/레시피  800000   59900000    76

In [34]:
df.to_csv('./data/유투브랭킹231213.csv', index=False)

In [35]:
df1 = pd.read_csv('./data/유투브랭킹231213.csv')

In [36]:
df1.tail()

       순위            채널명       카테고리    구독자수        조회수  비디오수
995   997  임한올 Hanol Rim        미분류  800000  122420000   169
996   996          원지의하루   국내/해외/여행  800000  154490000   357
997   995        가로세로연구소   뉴스/정치/사회  800000   35320000   553
998  1000           DAWN        미분류  800000   75700000    68
999   999        키미 Kimi  음식/요리/레시피  800000   59900000    76

In [ ]:

데이터 프레임 만들고 csv 로 저장

In [ ]:
aos-init